.post-container {
  width: 80%;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;

  margin-top: 10vh;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-gap: 00em;
  }

  img {
    align-self: center;
    justify-self: flex-end;

    height: 100%;
    width: 100%;
    object-fit: cover;

    overflow: hidden;
  }

  form {
    border: solid 1px;
    border-color: #ccc;

    align-self: flex-start;
    background: white;
    width: 100%;

    min-height: 250px;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      min-height: 200px;

      margin-bottom: 1em;
    }

    h1 {
      font-size: 1.5em;
      width: 80%;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    fieldset {
      width: 80%;
      border: none;
      padding: 1em 0;

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        width: 90%;
      }

      .input-field {
        border: solid 1px;
        border-color: #ccc;
        border-radius: 5px;

        margin: 0.5em 0;
        padding: 0.5em;
        height: 2em;

        label {
          display: flex;
          flex-direction: column;

          font-size: 0.75em;
        }

        input {
          border: none;
          width: 100%;
          margin-top: 0.25em;

          font-size: 1em;
        }
      }
    }

    button {
      width: 80%;

      @media (max-width: 1000px) {
        height: 60%;
        width: 90%;

        padding: 1em;
      }
    }
  }
}
