header {
  background: white;
  height: 10vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px #ccc;

  position: fixed;

  nav {
    height: 100%;

    display: flex;
    width: 80%;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;

    img {
      max-height: 70%;
    }

    svg {
      color: #333333;

      &:hover {
        color: #cccccc;
      }

      font-size: 1.7em;
    }
  }
}
